{% extends "layout.html" %}

{% block content %}
    {% include "messages.html" %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="text-center bg-info p-2">Delete Category</h2>
                <p>Are you sure you want to delete the category "{{ category.name }}" and its associated products?</p>
                <form action="" method="POST">
                    <button type="submit" class="btn btn-danger" name="confirm_delete" value="yes">Yes, delete</button>
                    <a href="{{ url_for('admin') }}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}
